.login-container {  
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    border: 1px solid #000000;
    margin: 0 auto;
}

h2 {
    color: #000000;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    color: #000000;
    margin: 10px 0 5px;
}

.text {
    color: #000000;
}

#username, #password {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2px;
    border: 1px solid black;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
}

.forgot-password a:hover {
    text-decoration: none;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/bg.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px); 
    z-index: -1; 
}